.lol {
  font-size: 83.33333%;
  background-color: #ff66ff;
  border-right-color: #990099;
  color: #000000;
  display: inline-block;
  width: 100%; }

input[type="submit"], input[type="button"], a.button, a.button:visited, button, .button, .btn {
  color: #000000;
  background-color: #BEE;
  border-color: #92e4e4;
  box-shadow: inset 0 1px 0 white; }

input[type="submit"], input[type="button"], button, .button, .btn, [class*="btn-"] {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  outline: none;
  padding: 0mm 5mm;
  line-height: 10mm;
  vertical-align: middle;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border-radius: 5px;
  margin: 1mm;
  border: 1px solid transparent;
  cursor: pointer;
  touch-action: manipulation;
  transition: all .1s ease-in; }

input[type="submit"]:hover, input[type="submit"]:focus, input[type="button"]:hover, input[type="button"]:focus, a.button:hover, a.button:focus, a.button:visited:hover, a.button:visited:focus, button:hover, button:focus, .button:hover, .button:focus, .btn:hover, .btn:focus {
  color: rgba(0, 0, 0, 0.9);
  background-color: #92e4e4;
  border-color: #69dada;
  box-shadow: inset 0 1px 0 #e4f8f8; }

